<h1 mat-dialog-title>Share file</h1>

<mat-dialog-content>
    <mat-form-field class="example-full-width">
        <input
            matInput
            placeholder="User email"
            [(ngModel)]="sharedWith"
        >
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button
        mat-raised-button
        mat-dialog-close
    >
        Cancel
    </button>
    <button
        mat-raised-button
        [mat-dialog-close]="sharedWith"
        color="primary"
    >
        OK
    </button>
</mat-dialog-actions>
